.cicloRegister {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garante que o overlay fique por cima de outros conteúdos */
}

.modalcard {
    background-color: rgb(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-options {
    display: flex;
    gap: 2em;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 600px;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formHeader {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
}
label {
    width: 100%;
}
.formGroup {
    display: flex;
    gap: 1rem;
}
.inputGroup {
    display: grid;
    grid-template-columns: 1fr; /* Garante que o input ocupa 1 fração do espaço */

    align-items: center;
}
input {
    width: 100%;
    border: #d4d4d4 solid 1px;
    border-radius: 4px;
}

.inputGroup input,
.inputGroup select {
    height: 2.5rem;
    width: 100%;
    border: #d4d4d4 solid 1px;
    border-radius: 4px;
}


.formActions {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

button[type="button"] {
    background-color: var(--secondary-color);
}

.timeinput {
    display: flex; 
    gap: 5px;
    align-items: center; 
    border: #d4d4d4 solid 1px;
}

.timeinput select {
    border: none;
    text-align: center;
}

.textarea {
    width: 100%;
    height: 8rem;
    border: #d4d4d4 solid 1px;
    border-radius: 4px;
    resize: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }
  