@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --primary-color: #892447;
    --secondary-color: #d3c0c0;
    --tertiary-color: #e7dede;
    --background-default: #eadfdd;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: calc(100% - 16rem);
    margin-left: 16rem;
    min-width: 100vh;
}

hr {
    border-top: solid 1px #4b4b4b;
    width: 100%;
    margin: 0;
}

.ciclo-title {
    background-color: var(--primary-color);
    border-radius: 6px;
    width: 100%;
    height: 2.5rem;
    display: flex;
    padding: 0 1rem;
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ciclo-title h1 {
    font-size: 1.2rem;
    color: #f1f1f1;
    font-weight: bold;
}

.ciclo-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    align-items: center;
}

.ciclo-graph {
    background-color: var(--secondary-color);
    border-radius: 8px;
    min-width: 50%;
    width: 70%;
    max-width: 80%;
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.1);
}

.ciclo-graph h2 {
    text-align: center;
    font-size: 1.25rem;
    color: #333333;
}

.ciclo-graph-box {
    padding: 0.8rem 0 0.5rem 1rem;
}


.ciclo-cards {
    display: flex;
    flex-direction: column;
    min-width: 11rem;
    max-width: 40%;
}

.card {
    display: flex;
    height: auto;
    margin: 0.625rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 20rem;
    background-color: var(--secondary-color);
    border: none;
    
    .card-body {
        display: flex;
        flex-direction: column;
        gap: 0.3rem
    }


    .card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.75rem;
        color: #313131;

        i {
            font-size: 1rem;
        }
    }

    .card-subtitle {
        margin-left: 0.3rem
    }

    .card-icon {
        display: flex;
        align-items: center;
    }

    .card-text {
        font-size: 1.25rem;
        align-content: center;
        margin-left: 1rem;
    }

    i {
        font-size: 200%;
    }

    .card-foco-prod {
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 2.5rem;
    }
}

.table {
    box-shadow: 0 4px 8px hwb(0 0% 100% / 0.1);
    /* Sombra suave */

}

.table thead th {
    background-color: var(--primary-color);
    font-size: 0.9rem;
    color: #d3d3d3;
    font-weight: 400;
    text-align: center;
    padding: 0.6rem
}


.table tbody td {
    height: 3.1rem;
    font-size: 16px;
    color: rgb(31, 24, 24);
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    /* Alinhamento vertical ao meio */
}

.table tbody tr:nth-child(odd) td {
    background-color: var(--tertiary-color) /* Cor X */
}

.table tbody tr:nth-child(even) td{
    background-color: var(--secondary-color); /* Cor Y */
}


progress {
    width: 60%;
    height: 1.5rem;
    border-radius: 0.625rem;
}

progress::-webkit-progress-bar {
    background-color: rgba(170, 170, 170, 0.1);
    border-radius: 0.625rem;
}

progress::-webkit-progress-value {
    border-radius: 0.625rem;
}

progress::-moz-progress-bar {
    border-radius: 0.625rem;
}


.pgbar-low::-moz-progress-bar {
    background: var(--primary-color);
}
.pgbar-low::-webkit-progress-value {
    background: var(--primary-color);
}

.pgbar-medium::-moz-progress-bar {
    background: var(--primary-color);
}
.pgbar-medium::-webkit-progress-value {
    background: var(--primary-color);
}

.pgbar-high::-moz-progress-bar {
    background: var(--primary-color);
}
.pgbar-high::-webkit-progress-value {
    background: var(--primary-color);
}

.pgbar-completed::-moz-progress-bar {
    background: var(--primary-color);
}
.pgbar-completed::-webkit-progress-value {
    background: var(--primary-color);
}