:root {
    --primary-color: #892447;
    --secondary-color: #dfdddd;
    --tertiary-color: #d4cfcf;
}

body {
    margin: 0;
    padding: 0;
}
.sidebar {
    min-width: 14rem; /* Define um limite mínimo */
    max-width: 240px; /* Define um limite máximo */
    height: 100vh; /* Fixa a altura do sidebar */
    overflow-y: auto; /* Adiciona scroll interno se necessário */
    position: fixed;
    left: 0;
    top: 0;
    background: var(--secondary-color);
    transition: width 0.3s ease-in-out;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 65px;
    background-color: var(--primary-color);

}

.nav-header h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
}

hr {
    border-top: solid 1px #4b4b4b;
    width: 80%;
    margin: 10px auto 10px auto;
    
}
.nav-content {
    gap: 1.2rem;
    display: flex;
    flex-direction: column;
}

.nav-item {
    display: flex;
    align-items: center;
    /* Centraliza verticalmente os itens dentro da nav-item */
    margin-left: 20px;
    font-size: 1rem;
}

.nav-item a {
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens dentro do link */
    text-decoration: none;
    color: black;
    font-family: 'Verdana', sans-serif;
    letter-spacing: -1px;
}

.nav-item i {
    font-size: 1rem;
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item span {
    text-decoration: none;
    color: rgb(31, 31, 31);
}



.nav-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #892447;
    border-radius: 1rem 1rem 0 0;
    height: 4rem;
    display: flex;
    justify-content: space-around;

}

.nav-footer-head {
    width: 90%;
    display: flex;
    align-items: center;
}

.nav-footer-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.nav-footer-user {
    width: 95%;
    padding-left: 5px;

}